version: '3.7'

services:
    
    hadoop-master: 
      image: yassern1/hadoop-spark-jupyter:1.0.3
      container_name: hadoop-master
      hostname: hadoop-master
      ports:
        - "9870:9870" # HDFS
        - "8088:8088" # Resource Manager
        - "7077:7077" # Spark Master
        - "19888:19888" # History Server
        - "8000:8000" # Spark Web UI
        - "9000:9000" # HDFS Web UI (fileSystem)
      volumes:
        - D:/souhaib/ingenierie/Big_data/tp/hadoop_project/:/shared_volume
      networks:
        - hadoop
      stdin_open: true
      tty: true
      restart: always
    
    hadoop-slave1:
      image: yassern1/hadoop-spark-jupyter:1.0.3
      container_name: hadoop-slave1
      hostname: hadoop-slave1
      ports:
        - "8040:8042"
      networks:
        - hadoop
      stdin_open: true
      tty: true
      restart: always

    hadoop-slave2:
      image: yassern1/hadoop-spark-jupyter:1.0.3
      container_name: hadoop-slave2
      hostname: hadoop-slave2
      ports:
        - "8041:8042"
      networks:
        - hadoop
      stdin_open: true
      tty: true
      restart: always

networks:
    hadoop:
      driver: bridge